

h1 {
  position:  absolute;
  left: 130px; 
  top: 0px;
}



/* bottom headings */


#Footer{
  position: absolute;
  left:  0px;
  bottom: 0px;
  width: 100%;
}

.footer_link {
  display: block;
  float: left;
  width: 20%;
  background-color: blueviolet;
  text-align: center;
}

/* for each page */

.photos {
  width: 100%;
  margin: 0px;
}

.main_text {
  font-size: 120%;
  text-align: center;
  line-height: 1.8;
  position: absolute;
  bottom:  130px;
  left:  110px;
  padding-top: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
  padding-left: 75px;
  background-color: slategray;
  color: white;
}


#return_link
{
  position: absolute;
  bottom:  -40px;
  left:  875px;
  color: white;
}

#heading {

}




img.b {
  vertical-align: text-top;
}

body {
  background-color: lavenderblush;
  margin: 0px;
}