
/* website_main_page */

#heading {
  position:  absolute;
  left: 130px; 
  top: 0px;
}


/* bottom headings */

#bio {
  position: absolute;
  width: 23%;
  top:  15%;
  left: 13%;
  font-size: 135%;
  font: serif;
}


#Footer{
  position: absolute;
  left:  0px;
  bottom: 0px;
  width: 100%;
}

.footer_link {
  display: block;
  float: left;
  width: 20%;
  background-color: blueviolet;
  text-align: center;
}




/* Applies to all */

body {
  margin: 0px;
}


.background_images{
  width: 100%;
  margin: 0px;
}

#main_text_box {
  position: absolute;
  width: 50%;
    top:  40%;
    left: 25%;
  font-size: 100%;
  text-align: center;
  line-height: 1.8;
  padding-top: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
  padding-left: 75px;
  background-color: darkblue;
}


#return_link
{
  position: absolute;
  bottom:  -10%;
  left:  92%;
  color: white;
}


/*
Coding ?
 p {
  font-size: 120%;
  text-align: center;
  line-height: 1.8;
  position: absolute;
  bottom:  130px;
  left:  110px;
  padding-top: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
  padding-left: 75px;
}


#return_link
{
  position: absolute;
  bottom:  -40px;
  left:  875px;
  color: white;
}


Recent Employment 

p {
  font-size: 80%;
  text-align: center;
  line-height: 1.6;
  position: absolute;
  bottom:  130px;
  left:  130px;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60x;
}


#return_link
{
  position: absolute;
  bottom:  -40px;
  left:  875px;
  color: white;
}




 */



/* now, I struggled to put all the code into one CSS sheet. I can't tell why. 
I should try and define the header by percentages and not pixels. 
I should also move the code in one block at a time and see what happens.
 */
