
/* website_main_page */

#heading {
  position:  absolute;
  left: 130px; 
  top: 0px;

}


/* bottom headings */

#bio {
  position: absolute;
  width: 23%;
  top:  11%;
  left: 13%;
  font-size: 135%;
  ;
}


#Footer{
  position: absolute;
  left:  0px;
  bottom: 0px;
  width: 100%;
}

.footer_link {
  display: block;
  float: left;
  width: 20%;
  background-color: #818189;
  color: black;
  text-align: center;
}




/* Applies to all */

body {
  margin: 0px;
}


.background_images{
  width: 100%;
  height: 100vh;
  margin: 0px;
  object-fit: cover;
  ;
}

.main_text_box {
  position: absolute;
  font-weight: bold;
  text-align: center;
  line-height: 1.8;
  padding-top: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
  padding-left: 75px;
  color: white;


}


#return_link
{
  position: absolute;
  bottom:  0;
  right:  1%;
  color: white;
}

a:visited {
  color:  white;
}

/* Page specific code */

#education_text {
width: 50%;
top:  20%;
left: 22%;
font-size: 200%;
background-color: rgba(0, 0, 139, 0.4);

}

#coding_text {
width: 50%;
top:  20%;
left: 22%;
font-size: 140%;
color:  white;
background-color: rgba(0.44,0.50,0.56, 0.5);
}

#employment_text {
width: 50%;
top:  2%;
left: 22%;
color:  white;
background-color: rgba(0.44,0.50,0.56, 0.5)

}

#activities_text {
width: 50%;
top:  10%;
left: 19%;
font-size:  140%;
color:  white;
background-color: rgba(0.44,0.50,0.56, 0.5)
}

#interests_text {
width: 50%;
top:  8%;
left: 18%;
font-size:  140%;
color:  white;
background-color: rgba(0.44,0.50,0.56, 0.5)
}

/*
Coding ?
 p {
  font-size: 120%;
  text-align: center;
  line-height: 1.8;
  position: absolute;
  bottom:  130px;
  left:  110px;
  padding-top: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
  padding-left: 75px;
}


#return_link
{
  position: absolute;
  bottom:  -40px;
  left:  875px;
  color: white;
}


Recent Employment 

p {
  font-size: 80%;
  text-align: center;
  line-height: 1.6;
  position: absolute;
  bottom:  130px;
  left:  130px;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60x;
}


#return_link
{
  position: absolute;
  bottom:  -40px;
  left:  875px;
  color: white;
}




 */



/* now, I struggled to put all the code into one CSS sheet. I can't tell why. 
I should try and define the header by percentages and not pixels. 
I should also move the code in one block at a time and see what happens.
 */
