
/* website_main_page */

#heading {
  position:  absolute;
  left: 11%; 
  top: 0px;
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  font-size: 2.1vw;
}


/* bottom headings */

#bio {
  position: absolute;
  width: 23%;
  top:  11%;
  left: 11%;
  font-size: 1.5vw;
  font-family: 'EB Garamond', serif;
  ;
}

#Footer{
  position: absolute;
  left:  0px;
  bottom: 0px;
  width: 100%;
}

.footer_link {
  font-size: 1.4vw;
  display: block;
  float: left;
  width: 20%;
  background-color: #818189;
  color: black;
  text-align: center;
}


/* Applies to all */

body {
  margin: 0px;
}


.background_images{
  width: 100%;
  height: 100vh;
  margin: 0px;
  object-fit: cover;
  ;
}

.main_text_box {
  width: 50vw;
  left: 25vw;
  position: absolute;
  font-weight: bold;
  text-align: center;
  line-height: 1.8;
  color: white;
  padding-top: 8%;
  padding-bottom: 8%;
}


#return_link
{
  position: absolute;
  bottom:  0;
  right:  1%;
  color: white;
}

a:visited {
  color:  white;
}

/* Page specific code */

#education_text {
top:  11%;
font-size: calc(12px + 1.6vw);
background-color: rgba(0, 0, 139, 0.4);
padding-top: 75px;
padding-bottom: 75px;
}

#coding_text {
top:  8%;
font-size: calc(12px + 1vw);
color:  white;
background-color: rgba(0.44,0.50,0.56, 0.5);
padding-top: 8%;
padding-bottom: 8%;
}

#employment_text {
top:  15%;
font-size: calc(12px + 0.3vw);
color:  white;
background-color: rgba(0.44,0.50,0.56, 0.5);
padding-top: 20px;
padding-bottom: 20px;
}

#activities_text {
top:  25%;
font-size:  1.5vw;
color:  white;
background-color: rgba(0.44,0.50,0.56, 0.5);
padding-top: 20px;
padding-bottom: 20px;
}

#interests_text {
top:  8%;
font-size:  1.5vw;
color:  white;
background-color: rgba(0.44,0.50,0.56, 0.5);
padding-top: 75px;
padding-bottom: 75px;
}