p {
	font-size: 120%;
	text-align: center;
	line-height: 1.8;
	position: absolute;
	bottom:  130px;
	left:  110px;
	padding-top: 75px;
	padding-right: 75px;
	padding-bottom: 75px;
	padding-left: 75px;
}


#return_link
{
	position: absolute;
	bottom:  -40px;
	left:  875px;
	color: white;
}


