p {
	font-size: 80%;
	text-align: center;
	line-height: 1.6;
	position: absolute;
	bottom:  130px;
	left:  130px;
	padding-top: 60px;
	padding-right: 60px;
	padding-bottom: 60px;
	padding-left: 60x;
}


#return_link
{
	position: absolute;
	bottom:  -40px;
	left:  875px;
	color: white;
}

