
/* website_main_page */

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  min-height: 100vh;
  background-color: #3d5aa5;
  padding: 20px;
}

#heading {
  grid-column: 1;
  grid-row: 1;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 1.2;
  color: #20507D;
}

#bio {
  grid-column: 2;
  grid-row: 2;
  font-size: 1.2vw;
  font-family: 'EB Garamond', serif;
  line-height: 1.5;
  grid-row-end: span 2;
  color: #666666;
}







/* Applies to all */

body {
  margin: 0px;
}


.background_images{
  width: 100%;
  height: 100vh;
  margin: 0px;
  object-fit: cover;
}

.main_text_box {
  width: 50vw;
  left: 25vw;
  position: absolute;
  font-weight: bold;
  text-align: center;
  line-height: 1.8;
  color: white;
  padding-top: 8%;
  padding-bottom: 8%;
}


#return_link
{
  position: absolute;
  bottom:  0;
  right:  1%;
  color: white;
}

a:visited {
  color:  white;
}

/* Page specific code */

#education_text {
top:  11%;
font-size: calc(12px + 1.6vw);
background-color: rgba(0, 0, 139, 0.4);
padding-top: 75px;
padding-bottom: 75px;
}

#coding_text {
top:  8%;
font-size: calc(12px + 1vw);
color:  white;
background-color: rgba(0.44,0.50,0.56, 0.5);
padding-top: 8%;
padding-bottom: 8%;
}

#employment_text {
top:  15%;
font-size: calc(12px + 0.3vw);
color:  white;
background-color: rgba(0.44,0.50,0.56, 0.5);
padding-top: 20px;
padding-bottom: 20px;
}

#activities_text {
top:  25%;
font-size:  1.5vw;
color:  white;
background-color: rgba(0.44,0.50,0.56, 0.5);
padding-top: 20px;
padding-bottom: 20px;
}

#interests_text {
top:  8%;
font-size:  1.5vw;
color:  white;
background-color: rgba(0.44,0.50,0.56, 0.5);
padding-top: 75px;
padding-bottom: 75px;
}